html,
body,
a {
  color: white;
  scroll-behavior: smooth;
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 40lh;
  padding: 2%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

h2 h1 {
  margin-bottom: 30px;
  padding: 50px;
  margin-right: 100px;
  white-space: nowrap;
  flex-direction: column;
}

h1 {
  font-size: 2em;
}

.top {
  background-color: rgb(245, 100, 209);
  background-image: url(images/2-pink-blue.avif);
  background-blend-mode: multiply;
}

.container {
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.alpha {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  bottom: 60px;
  margin-bottom: 0;
  margin-left: 3rem;
  padding-bottom: 10px;
  letter-spacing: 1px;
  width: fit-content;
  box-sizing: content-box;
  /* added 1px spacing as the "T" and "P" were overlapping */
}

.camera {
  background-color: rgba(0, 0, 255, 0.322);
  background-image: url(images/4-vintage-cameras.avif);
  background-blend-mode: multiply;
}

.contact {
  background-color: rgba(0, 255, 255, 0.233);
  background-image: url(images/20-old-phone.avif);
  background-blend-mode: multiply;
}

.more {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
  margin-top: 1.2rem;
  margin-left: 3rem;
  padding-bottom: 10px;
  width: 55%;
}

.more a {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  padding: 1em 4em 1em 2em;
  margin-right: 1em;
  border: 2px solid white;
}

.more a:hover {
  color: black;
  background-color: white;
}

footer {
  color: #555;
  background-color: rgb(1, 54, 54);
  text-align: center;
  padding: 1em;
}
